body {
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none !important;
}

.vehicleTypeImg:hover {
    width: 90%;
    cursor: pointer;
    transition: all .2s linear;
}

.input_field{
    height: 40px;
    width: 100%;
}